<header>
<nav class="">
  <label class="logo">Blue Solutions</label>
      <ul class="">
       
        <li>
          <a class="active" routerLink="/home-page" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>Home</a>
        </li>
        <li>
          <a routerLink="/about-page" routerLinkActive="active">About</a>
        </li>
        <li>
          <a routerLink="/news-page" routerLinkActive="active">News</a>
        </li> 
        <li>
          <a routerLink="/donors-page" routerLinkActive="active">Recent Donor</a>
        </li>
      </ul>
     
</nav>
<a routerLink="/support-page" routerLinkActive="active"><button>Support Campaign</button> </a>
</header>


<router-outlet></router-outlet>

<footer class="footer">
  <div class="footer-container">
    <p>+6927 678 3425</p>
    <p>#PampangaWaterAction</p>
    <p><a href="mailto:example@gmail.com">bluesolutions@gmail.com</a></p>
  </div>
</footer>

