<body>
<div class="news-container">
    <h1>Latest News</h1>
    <div class="row">
      <div *ngFor="let article of articles" class="col-md-4">
        <mat-card>
          <img [src]="article.imageUrl" mat-card-image alt="{{ article.title }}">
          <div class="mat-card-content">
            <h2 mat-card-title>{{ article.title }}</h2>
            <p mat-card-subtitle>Published on: {{ article.publishedDate | date }}</p>
            <p mat-card-content>{{ article.content }}</p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</body>