<p>about works!</p>
<div class="about-section">
    <h1>About Me</h1>
    <p>My specialization is Web Development</p>
  </div>
  
  <div class="row">
  
  
    <div class="column">
      <div class="card">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocJoi9C2_dd8UzbGhTHNrOZ5cm-L9iKE4eU_lues52FY54s=s288-c-no" alt="Mike" style="width:50%">
        <div class="container">
          <h2>River Yuan</h2>
          <p class="title">Student</p>
          <p>My specialization is Web Development</p>
          <p>rmostaco</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  </div>